<nav id="TOC" role="doc-toc">
    <h2>Table of contents</h2>
    <ul>
    <li><a href="#rest-api" id="toc-rest-api">REST API</a></li>
    <li><a href="#installation-instructions"
    id="toc-installation-instructions">Installation instructions</a>
    <ul>
    <li><a href="#download-the-models"
    id="toc-download-the-models">Download the models</a></li>
    <li><a href="#building" id="toc-building">Building</a>
    <ul>
    <li><a href="#production-build" id="toc-production-build">Production
    build</a></li>
    <li><a href="#development-build"
    id="toc-development-build">Development build</a></li>
    <li><a href="#running-your-build"
    id="toc-running-your-build">Running your build</a></li>
    </ul></li>
    </ul></li>
    <li><a href="#pseudonymization"
    id="toc-pseudonymization">Pseudonymization</a>
    <ul>
    <li><a href="#workflow" id="toc-workflow">Workflow</a>
    <ul>
    <li><a href="#workflow-details" id="toc-workflow-details">Workflow
    details</a></li>
    </ul></li>
    <li><a href="#details" id="toc-details">Details</a>
    <ul>
    <li><a href="#tagging" id="toc-tagging">Tagging</a></li>
    <li><a href="#recognizing-named-entity-recognition"
    id="toc-recognizing-named-entity-recognition">Recognizing (Named
    Entity Recognition)</a></li>
    <li><a href="#personal-name-pseudonymization"
    id="toc-personal-name-pseudonymization">Personal name
    pseudonymization</a></li>
    <li><a href="#other-pseudonymization"
    id="toc-other-pseudonymization">Other pseudonymization</a></li>
    <li><a href="#black-mode" id="toc-black-mode">Black mode</a></li>
    <li><a href="#preserving-grammatical-cases"
    id="toc-preserving-grammatical-cases">Preserving (grammatical)
    cases</a></li>
    </ul></li>
    <li><a href="#pseudonymization-policies-definitions"
    id="toc-pseudonymization-policies-definitions">Pseudonymization
    policies definitions</a>
    <ul>
    <li><a href="#personal-names" id="toc-personal-names">Personal
    names</a></li>
    </ul></li>
    </ul></li>
    <li><a href="#documentation"
    id="toc-documentation">Documentation</a></li>
    </ul>
</nav>
<h1 id="rest-api">REST API</h1>
<p>See <a href="localhost:8080">REST API documentation</a>.</p>
<h1 id="installation-instructions">Installation instructions</h1>
<p>To install the application you just need to download the models and
place them in the correct folder. Rest is done by Docker.</p>
<h2 id="download-the-models">Download the models</h2>
<ul>
<li><a
href="https://lindat.mff.cuni.cz/repository/xmlui/handle/11234/1-1836">MorphoDiTa</a>
<ul>
<li>files needed are <code>czech-morfflex-161115.dict</code> and
<code>czech-morfflex-pdt-161115.tagger</code></li>
</ul></li>
<li><a
href="https://lindat.cz/repository/xmlui/handle/11858/00-097C-0000-0023-7D42-8?show=full">NameTag
1</a>
<ul>
<li>file needed is <code>czech-cnec2.0-140304.ner</code></li>
</ul></li>
</ul>
<p>Place them in the <code>models/</code> folder.</p>
<h2 id="building">Building</h2>
<p><em>(Using docker/podman)</em></p>
<p>All has to be done in a directory with
<code>docker-compose.yml</code>, i.e. <code>app/</code> folder.</p>
<h3 id="production-build">Production build</h3>
<div class="sourceCode" id="cb1"><pre
class="sourceCode bash"><code class="sourceCode bash"><span id="cb1-1"><a href="#cb1-1" aria-hidden="true" tabindex="-1"></a><span class="ex">docker-compose</span> build <span class="at">--build-arg</span> ENV_TYPE=prod</span></code></pre></div>
<h3 id="development-build">Development build</h3>
<div class="sourceCode" id="cb2"><pre
class="sourceCode bash"><code class="sourceCode bash"><span id="cb2-1"><a href="#cb2-1" aria-hidden="true" tabindex="-1"></a><span class="ex">docker-compose</span> build <span class="at">--build-arg</span> ENV_TYPE=dev</span></code></pre></div>
<h3 id="running-your-build">Running your build</h3>
<div class="sourceCode" id="cb3"><pre
class="sourceCode bash"><code class="sourceCode bash"><span id="cb3-1"><a href="#cb3-1" aria-hidden="true" tabindex="-1"></a><span class="ex">docker-compose</span> up</span></code></pre></div>
<h4 id="notes">Notes</h4>
<ul>
<li>API url <code>localhost:8080</code> (you should see SwaggerUI in the
browser),</li>
<li>Web app url <code>localhost:3000</code>,</li>
<li>API access log is in <code>/access.log</code> (root directory in the
container),</li>
<li>API error log is in <code>/error.log</code> (root directory in the
container),</li>
<li>production build uses <code>Gunicorn</code> and development build
uses build-in <code>Werkzeug</code>.</li>
</ul>
<p>Reason for not having logs in <code>/destination_api/...</code> is
because it would mirror the file back inside the repository.</p>
<p><em>(Running in development mode in PyCharm)</em></p>
<ul>
<li>set folder <code>app/api</code> as <code>Source Root</code></li>
<li>click on the green run (play) button left to the
<code>if __name__ == '__main__'</code></li>
</ul>
<p><em>(Running in development mode without IDE - e.g. from
terminal)</em></p>
<ul>
<li>make sure you are in Virtual Environment (venv). I.e. run
<code>source venv/bin/activate</code> (to escape from venv, just write
<code>deactivate</code>)</li>
<li>set variable
<code>export PYTHONPATH="${PYTHONPATH}:/path/to/your/project/.../app/api"</code>
<a
href="https://stackoverflow.com/questions/43728431/relative-imports-modulenotfounderror-no-module-named-x#answer-57164633">(source)</a></li>
<li>go to <code>app/api</code></li>
<li>execute <code>python3 main.py</code></li>
</ul>
<h1 id="pseudonymization">Pseudonymization</h1>
<h2 id="workflow">Workflow</h2>
<p><img
src="static/doc/mermaid-images/58551d917302bdd8e5f5f82a3e3be83cdb7a3c93.svg" /></p>
<h3 id="workflow-details">Workflow details</h3>
<ol type="1">
<li>user passes text to pseudonymize in the form of string &amp;
options,</li>
<li>string is tokenized using MorphoDiTa’s tokenizer,</li>
<li>tokens are passed to NameTag (1/2) in order to recognize named
entities:
<ul>
<li><em>NameTag output</em>:
<ul>
<li>NameTag 1: detailed output,</li>
<li>NameTag 2: XML.</li>
</ul></li>
</ul></li>
<li>transformation from <em>NameTag output</em>, to the
<em>application’s common format</em>, which is:
<ul>
<li>list of dictionaries (~array of JSONs),</li>
<li>each item is either
<ul>
<li>named entity in the form of
<ul>
<li>single token,</li>
<li>container (note: may contain both: named entities and non-named
entities).</li>
</ul></li>
<li>non-named entity.</li>
</ul></li>
<li>each named or non-named token also contain:
<ul>
<li>lemma,</li>
<li>tag,</li>
<li>string of whitespaces that are before the token
(<code>pre_whitespaces</code>)</li>
</ul></li>
</ul></li>
<li>extending <em>application’s common format</em> with recommended
replacements in order to pseudonymize the text,</li>
<li>return the result.</li>
</ol>
<h2 id="details">Details</h2>
<h3 id="tagging">Tagging</h3>
<p>In all use cases we need to use MorphoDiTa’s tokenizer, because of
the need to be able to convert between (grammatical) cases (i.e. 1st
case, 2nd case, …, 7th case). That implies that NER recognizer has to
receive tokens from MorphoDiTa.</p>
<h3 id="recognizing-named-entity-recognition">Recognizing (Named Entity
Recognition)</h3>
<p>NameTag 1 <code>recognize</code> method output is very detailed -
i.e. it contains starting &amp; ending positions of the individual
tokens while iterating them, …</p>
<p>On the other hand, NameTag 2 does not provide much of the
information. Also, when sending tokens (in vertical format) from
MorphoDiTa’s tokenizer to the NameTag 2 recognizer it yields a problem
that it handles whitespaces incorrectly (spaces before period (.),
parentheses, …).</p>
<p>Proposed solution is to tokenize input text using MorphoDiTa’s
tokenizer, then sending it to the NameTag 2 recognizer in vertical
format (note that:
<code>tokenizer_token_count == recognizer_token_count</code>), then the
whitespaces will be reconstructed using <code>token_counter</code>
(i.e. variable that maintains <code>token_index</code> while iterating
over the text XML) through the detailed object from
<code>morphoditawrapper.tokenize</code> where</p>
<div class="sourceCode" id="cb4"><pre
class="sourceCode python"><code class="sourceCode python"><span id="cb4-1"><a href="#cb4-1" aria-hidden="true" tabindex="-1"></a>morphoditawrapper.tokenize(text)[token_counter] <span class="op">===</span> {</span>
<span id="cb4-2"><a href="#cb4-2" aria-hidden="true" tabindex="-1"></a>    <span class="st">&#39;start&#39;</span>: token.start,</span>
<span id="cb4-3"><a href="#cb4-3" aria-hidden="true" tabindex="-1"></a>    <span class="st">&#39;end&#39;</span>: token.start <span class="op">+</span> token.length,</span>
<span id="cb4-4"><a href="#cb4-4" aria-hidden="true" tabindex="-1"></a>    <span class="st">&#39;token&#39;</span>: text[token.start: token.start <span class="op">+</span> token.length]</span>
<span id="cb4-5"><a href="#cb4-5" aria-hidden="true" tabindex="-1"></a>}</span></code></pre></div>
<h3 id="personal-name-pseudonymization">Personal name
pseudonymization</h3>
<p>There are three modes of pseudonymization:</p>
<ol type="1">
<li>static,</li>
<li>random,</li>
<li>context.</li>
</ol>
<p><em>Static</em> is always taking the first option.</p>
<p><em>Random</em> is taking random option.</p>
<p><em>Context</em> has two cases. Personal name (first name or second
name) is</p>
<ul>
<li>registered =&gt; take it as it was registered before,</li>
<li>not yet registered =&gt; take next non-occupied name, and if there
is no non-occupied name, start from beginning.</li>
</ul>
<h3 id="other-pseudonymization">Other pseudonymization</h3>
<p>Pseudonymization of other named entities implements only
<em>Static</em> and <em>Random</em> modes.</p>
<h3 id="black-mode">Black mode</h3>
<p><em>Black mode</em> makes pseudonymized words black on black.</p>
<h3 id="preserving-grammatical-cases">Preserving (grammatical)
cases</h3>
<p>When the named entity to pseudonymize is found it is replaced with
another word from the same category. I.e., when the first name ‘Karel’
is encountered it will be replaced with another first name, e.g. ‘Jan’.
Also, if it is encountered in the second case, i.e. ‘Karla’, it will be
replaced with corresponding ‘Jana’.</p>
<p>When the encountered named entity is composed of more words,
e.g. ‘Ústí nad Labem’, it will be always pseudonymized with one-word
named entity, e.g. ‘Praha’. That decision was made for the simplicity.
Other words will get discarded. From the ‘Ústí nad Labem’ we need to
extract the case correctly. That is actually done by the first word, in
the example ‘Ústí’.</p>
<h2 id="pseudonymization-policies-definitions">Pseudonymization policies
definitions</h2>
<h3 id="personal-names">Personal names</h3>
<h4 id="notes-1">Notes</h4>
<p>First name (<code>pf</code>) and second name (<code>ps</code>) might
be container. Even though, I haven’t found an example where
<code>pf</code> is a container, but let’s handle it same as
<code>ps</code> container… Serialization process flattens these nested
containers. Common policy is to pseudonymize the first encountered named
entity of given type and discard others. Consider
<code>John von Neumann</code>, where <code>von Neumann</code> is the
last name container. It will be serialized as
<code>container: [{'von': 'ps'}, {'Neumann': 'ps'}]</code>.</p>
<h4 id="process">Process</h4>
<h5 id="first-names">First names</h5>
<p>Take the first one and replace with another first name. Gender must
be preserved. In case of Czech language, set the correct grammatical
case.</p>
<p>Problem 1: MorphoDiTa does not know the case (we can’t generate
proper replacement form). Let’s default to first case.</p>
<p>Problem 2: MorphoDiTa does not know gender. Default to masculinum
(gender is needed in order to pick proper replacement word).</p>
<h5 id="second-names">Second names</h5>
<p>Same as first name.</p>
<p>Same problems as with first names and also:</p>
<p>Problem: Some names are in adjective form,
e.g. <code>Franta Černý</code>, where <code>Černý</code> is adjective.
We have to handle this situation properly.</p>
<p>If MorphoDiTa can’t generate proper form of replacement, app will
replace it with lemma of the replacement.</p>
<h5 id="middle-names-pm">Middle names (<code>pm</code>)</h5>
<p>Current policy is to remove the word.</p>
<h1 id="documentation">Documentation</h1>
<p>To generate documentation, go to the <code>app/api/doc-util/</code>
folder. Then execute</p>
<div class="sourceCode" id="cb5"><pre
class="sourceCode bash"><code class="sourceCode bash"><span id="cb5-1"><a href="#cb5-1" aria-hidden="true" tabindex="-1"></a><span class="ex">./generate-doc.sh</span> ../README.md</span></code></pre></div>
<p>You have to install <a
href="https://pandoc.org/installing.html"><code>pandoc</code></a>, <a
href="https://github.com/mermaid-js/mermaid-cli"><code>mermaid-cli</code></a>,
and <a
href="https://github.com/timofurrer/pandoc-mermaid-filter"><code>pandoc-mermaid</code></a>.</p>
<p>Make sure you install <code>pandoc-mermaid</code>
<strong>locally</strong>.</p>
