.toast, .toast-container, .toast-body {
    z-index: 1000;
}

p {
    margin-bottom: 5px;
}

.pseudonymized {
    font-weight: bold;
}

.non-pseudonymized {

}

span {
    display: inline;
    /* span will display all the whitespaces */
    white-space: pre-wrap;
}

.jumbotron-container {
    background-color: #eee;
    border-radius: 8px;
    border: 2px solid #ccc;
    padding: 10px;
}

.check-group {
    margin-left: 15px;
}

.black-mode {
    background: #000;
    color: #000;
}